/* --- Font imports --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Component imports --- */
@import url("components/container.css");

@import url("components/card.css");

@import url("components/avatar.css");

@import url("components/grid.css");

@import url("components/nvbar.css");

@import url("components/footer.css");


/* --- Fonts & colors --- */
body {
  background-color: rgb(245,245,245);
  font-family: "Open Sans", "Helvetica", "sans-serif";
  margin: 0;
}
h1, h2, h3 {
  font-family: "Poppins", "sans-serif";
  margin: 0;
  margin: 6px 0;
}






