
.card-container {
  background-color: white;
  height: 480px;
  padding: 0px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 4px 4px 32px rgba(0,0,0,0.1)
}

.card-image {
  width: 70%;
  height: 70%;
  object-fit: cover;
  padding-left: 52px;
  padding-top: 8px;
}

.flex-container {
  font-size: 18px;
  padding: 0 11px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

}

.info-box {
  padding: 5px;
}

.writer-info {
  display: flex;
  align-items: center;
/*  justify-content: space-between;*/
}


.writer-name {
  margin: 0 8px;

}

