.nvbar {
  background-image: url("../../images/banner.jpeg");
  height: 80px;
  background-size: cover;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;

}

.nvbar .logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.right-logo {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%
}

.right-stuff {
  display: flex;
  align-items: center;
}

a {
  color:white;
  margin-right: 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-style: Bold 700 italic;
  font-family: 'Noto Serif', serif;

}
